<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parcial nº1 - Aplicaciones para Dispositivos Móviles</title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div id="app">
      <com-header
        :carrito="carrito"
        @ver-carrito="verCarrito"
        @ver-filtro="verFiltro"
      ></com-header>
      <com-modal
        v-if="mostrarCarrito"
        :carrito="carrito"
        :calcular-valor="calcularValor"
        @quitar-del-carrito="quitarDelCarrito"
        @vaciar-carrito="vaciarCarrito"
        @cerrar-modal="mostrarCarrito = false"
      ></com-modal>
      <div v-if="mostrarFiltro" class="filtro">
        <label for="buscador">Buscar producto:</label>
        <input id="buscador" class="buscador" v-model="filtro" />
      </div>
      <main>
        <div
          v-for="product in productosFiltrados"
          :key="product.id"
          class="card"
        >
          <com-product
            :nombre="product.name"
            :imagen="product.image"
            :precio="product.price"
            @agregar-al-carrito="agregarAlCarrito"
          ></com-product>
        </div>
      </main>
      <com-footer></com-footer>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script/main.js"></script>
  </body>
</html>
